{% extends 'resturant/base.html' %}
{% block content %}
<div>
<h1>Contact Form</h1>
<form action="{% url 'submit' %}" method="POST">
    {% csrf_token %}
    Name: <input type="text" name="name">
    Favorite color: <input type="text" name="favorite_color">
    <input type="submit">
</form>
</div>
<div>
    <table>
        <tr>
            <th>Menu</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Fried Wontons</td>
            <td>$6.99</td>
        </tr>
        <tr>
            <td>Vegetable Soups</td>
            <td>$7.99</td>
        </tr>
        <tr>
            <td>Chicken Fried Rice</td>
            <td>$8.99</td>
        </tr>
    </table>
</div>

{% endblock %}