body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 2em;
}

p {
    text-align: center;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 0;
    border-top: 1px solid #eee;
    width: 50%;
    text-align: center;
}

.divHeader {
    padding-top: 5em;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.divImage {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.divCenter {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

table {
    margin: 0 auto;
    text-align: center;
    
}

.divNav {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.divBottom {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    
}